<div class="pageContainer">
    <div class="grid">
        <div class="socials">
            <img id="profile" src="spacey.gif">
            <a href="https://www.instagram.com/sp4ce.w4lk.4/" target="_blank"><img id="insta" class="social" src="instagram.gif"></a>
            <a href="https://x.com/sp4cew4lk4" target="_blank"><img id="twit" class="social" src="twit.gif"></a>
            <a href="https://soundcloud.com/sp4ce-w4lk-4" target="_blank"><img id="sound" class="social" src="soundcloud.gif"></a>
            <a href="https://youtube.com/sp4cew4lk" target="_blank"><img id="yt" class="social" src="yt.gif"></a>

        </div>
        <div class="aboutContainer">
            <div class="section">
                hi!!1 ^_^ im spacewalk, but u can call me spacey. im a producer and engineer based in 
                <span style="width:60px; display:inline-block;">
                    {{text}}
                </span> 
                going on 8 years of experience. I make plugins and do freelance work producing and mixing. i have always felt that something was 
                <div class="caps">
                    NOT QUITE RIGHT
                </div>
                or that i was a little... erm... different xD. sometimes i feel like i can't trust 
                <div class="caps">
                    ANYONE
                </div>
                and that they're all plotting 
                <div class="glitch" data-text="against me">
                    against me
                </div>
                . but it's all just a silly feeling anyways haha! xD
            </div>
            <div class="section">
                some of my other interest include: graphic design, making videos, 
                <div class="glitch" data-text="stopping oppressive regimes">
                    stopping oppressive regimes
                </div>
                , graffiti, and skating \m/>.<\m/
            </div>
            <div>
                i really like making new creative friends, so don't be afraid to reach out! my socials are all on the left if you ever want to talk!
            </div>
            <div class="caps" id="secret" title="check the source code">
                I DON'T BITE
            </div>
            <div class="hidden">
                It's not safe yet. Check back later... -The Developer
            </div>
        </div>
</div>
</div>