<header>
    <marquee scrollamount="15" scrolldelay="50" truespeed>
        <pre>
      ██████  ██▓███   ▄▄▄       ▄████▄  ▓█████ █     █░ ▄▄▄       ██▓    ██ ▄█▀
    ▒██    ▒ ▓██░  ██ ▒████▄    ▒██▀ ▀█  ▓█   ▀▓█░ █ ░█░▒████▄    ▓██▒    ██▄█▒ 
    ░ ▓██▄   ▓██░ ██▓▒▒██  ▀█▄  ▒▓█    ▄ ▒███  ▒█░ █ ░█ ▒██  ▀█▄  ▒██░   ▓███▄░ 
      ▒   ██▒▒██▄█▓▒ ▒░██▄▄▄▄██▒▒▓▓▄ ▄██ ▒▓█  ▄░█░ █ ░█ ░██▄▄▄▄██ ▒██░   ▓██ █▄ 
    ▒██████▒▒▒██▒ ░  ░▒▓█   ▓██░▒ ▓███▀ ▒░▒████░░██▒██▓ ▒▓█   ▓██▒░██████▒██▒ █▄
    ▒ ▒▓▒ ▒ ░▒▓▒░ ░  ░░▒▒   ▓▒█░░ ░▒ ▒  ░░░ ▒░ ░ ▓░▒ ▒  ░▒▒   ▓▒█░░ ▒░▓  ▒ ▒▒ ▓▒
    ░ ░▒  ░ ░░▒ ░     ░ ░   ▒▒    ░  ▒  ░ ░ ░    ▒ ░ ░  ░ ░   ▒▒ ░░ ░ ▒  ░ ░▒ ▒░
    ░  ░  ░  ░░         ░   ▒   ░           ░    ░   ░    ░   ▒     ░ ░  ░ ░░ ░ 
          ░                 ░   ░ ░     ░   ░      ░          ░  ░    ░  ░  ░   
        </pre>
    </marquee>
    <nav>
        <a routerLink="home"  routerLinkActive="active" class='nav-link' >Home</a>
        <a routerLink="about"  routerLinkActive="active" class='nav-link'>About</a>
        <a routerLink="shop"  routerLinkActive="active" class='nav-link'>Shop</a>
        <a routerLink="contact"  routerLinkActive="active" class='nav-link'>Contact</a>
    </nav>
</header>