body{
    margin:0;
    background: url('https://sp4cew4lk4.net/assets/movestar.gif') repeat;
    color:white;
    text-align: center;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.popupThing{
  font-size: 50px;
  text-align: center;
}

@media(max-width:1000px){
.popupThing{
  max-width: 80%;
  font-size: 18px;
}
}